<footer>
    <div class="f-info">
        <div class="f-info-socials"></div>
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-twitter"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-square-linkedin"></i>
        <div class="f-info-brand">Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/terms">Terms of Service</a>
            <a href="/privacy">Privacy Policy</a>
        </div>
    </div>
</footer>